/*content1_pk*/
.pk_m1 { background: #fcb56a; }
.pk_m2 { background: #72d078; }
.pk_m3 { background: #c7b2ce; }
.pk_m4 { background: #abb8c8; }
.pk_m5 { background: #dcb773; }
.pk_m6 { background: #ddbd93; }
.pk_m7 { background: #ca948c; }
.pk_m8 { background: #a1b8bc; }
.pk_m9 { background: #ee8c7d; }
.content1_pk
{
	margin-top: 15px;
}
.content1_pk .nd
{
	float: left;
    width: 90px;
    height: 100px;
    margin-right: 10px;
    text-align: center;
    padding: 0px 5px;
    color: #fff;
}
.content1_pk .nd:nth-child(9n+9)
{
	margin-right: 0px;
}
/*content2_pk*/
.content2_pk
{
	width: 100%;
	height: 280px;
	background: #fef6e6;
}
.content2_pk .box
{
	padding: 15px 0px;
}
.content2_pk .box .img
{
	max-width: 500px;
	overflow: hidden;
}
.content2_pk .box .nd
{
	width: 490px;
    padding-top: 25px;
}
.content2_pk .box .nd h3
{
	text-align: center;
	color: #f2a50c;
}
.content2_pk .box .nd .nd2
{
	background: #fff;
    padding: 15px;
}
.content2_pk .box .nd .nd2 span
{
	font-weight: bold;
}
/*content3_pk*/
.content3_pk
{
	height: 400px;
}
.content3_pk .box h3
{
	margin: 15px 0px;
    text-align: center;
}
.content3_pk .box .nd
{
	position: relative;
	height: 270px;
}
.content3_pk .box .nd2
{
	margin-top: 20px;
	text-align: center;
}
.content3_pk .box .nd .ct
{
	width: 165px;
	height: 165px;
}
.content3_pk .box .nd .dm_pk1
{
	position: absolute;
	top: 0px;
	left: 0px;
}
.content3_pk .box .nd .dm_pk2
{
	position: absolute;
    top: 90px;
    left: 90px;
}
.content3_pk .box .nd .dm_pk3
{
	position: absolute;
    top: 0px;
    left: 185px;
}
.content3_pk .box .nd .dm_pk4
{
	position: absolute;
    top: 90px;
    left: 280px;
}
.content3_pk .box .nd .dm_pk5
{
	position: absolute;
    top: 0px;
    left: 375px;
}
.content3_pk .box .nd .dm_pk6
{
	position: absolute;
    top: 90px;
    left: 470px;
}
.content3_pk .box .nd .dm_pk7
{
	position: absolute;
    top: 0px;
    left: 560px;
}
.content3_pk .box .nd .dm_pk8
{
	position: absolute;
    top: 90px;
    left: 655px;
}
.content3_pk .box .nd .dm_pk9
{
	position: absolute;
    top: 0px;
    left: 750px;
}
.content3_pk .box .nd .dm_pk10
{
	position: absolute;
    top: 90px;
    left: 840px;
}
/*.content4_pk*/
.content4_pk
{
	width: 100%;
    height: 715px;
    background: #fef6e6;
}
.content4_pk .box
{
	padding-top: 15px;
}
.content4_pk .box h3
{
	text-transform: uppercase;
    color: #f2a50c;
    text-align: center;
    margin-bottom: 20px;
}
.content4_pk .box .nd1
{
	height: 120px;
    width: 940px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background: #ddbd93;
    position: relative;
    margin-bottom: 20px;
}
.content4_pk .box .nd2
{
	height: 120px;
    width: 940px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background: #c7b2ce;
    position: relative;
    margin-bottom: 20px;
}
.content4_pk .box .nd3
{
	height: 120px;
    width: 940px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background: #72d078;
    position: relative;
    margin-bottom: 20px;
}
.content4_pk .box .nd4
{
	height: 120px;
    width: 940px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background: #a1b8bc;
    position: relative;
}
.content4_pk .box .imgk1
{
	position: absolute;
    top: -25px;
    left: 25px;
}
.content4_pk .box .imgk2
{
	position: absolute;
    top: -25px;
    right: 25px;
}
.content4_pk .box .ctk1
{
	width: 750px;
    margin-left: 170px;
    color: #fff;
}
.content4_pk .box .ctk1 h3
{
	text-align: left;
    height: 10px;
    padding-top: 10px;
    color: #fff;
}
.content4_pk .box .ctk2
{
	width: 750px;
    margin-left: 15px;
    color: #fff;
}
.content4_pk .box .ctk2 h3
{
	text-align: right;
    height: 10px;
    padding-top: 10px;
    color: #fff;
}