.title_trangtrong
{
	height: 25px;
	padding: 10px 5px;
	background: url("../images/icon_home_loai.png") left no-repeat;
}
.title_trangtrong h3
{
	padding-left: 30px;
	color: #f2a50c;
}
.title_trangtrong h3 a
{
	color: #f2a50c;
}
.title_trangtrong h3 a:hover
{
	color: red;
}
.chuxam
{
	color: #6c6c6b!important;
}

.content1_k
{

}
.content1_k .cottrai
{
	width: 230px;
}
.content1_k .cotphai
{
	width: 760px;
}
.danhmucbenh_k
{
	height: 70px;
    width: 100%;
    background: #00a654;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.danhmucbenh_k h3
{
	text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

/*tom tắt*/
.tomtatloai_k
{
	width: 735px;
    background: #fef6e6;
    padding: 25px 13px;
}
.tomtatloai_k h3
{
	padding-left: 40px;
    height: 35px;
    background: url(../images/bg_h3_loai.png) left no-repeat;
}
.ndtomtat_k
{
	background: #fff;
    padding: 10px;
    color: #f4b348;
    margin: 10px 25px;
}


/*phân trang*/
.phantrang_k
{
	width: 30%;
	margin: 0px auto;
}
.pagination
{
	list-style: none;
}
.pagination li
{
	float: left;
    padding: 5px;
    color: #8BC34A;
    font-weight: bold;
}


/*dsbv_k*/
.dsbv_k
{
	width: 97.3%;
    border: 1px solid #e6e6e6;
    margin-top: 20px;
    padding: 10px;
}
.dsbv_k .img
{
	width: 185px;
    height: 140px;
    border: 1px solid #e0dddd;
    overflow: hidden;
}
.dsbv_k .img img
{
    width: 185px;
    height: 140px;
}
.dsbv_k .nd
{
	width: 535px;
    height: 140px;
    position: relative;
}
.dsbv_k .nd h3 a
{
	color: #39b54a;
	text-transform: capitalize;
}
.dsbv_k .nd h3 a:hover
{
	color: #f44336;
}
/*xem chi tiet*/
.xemchitiet
{
	padding: 8px 15px;
    border-radius: 5px;
    background: #f2a50c;
    width: 95px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.xemchitiet a
{
	color: #fff;
}
.xemchitiet:hover
{
	background: #f44336;
}

/*.........*/



/*trang chi tiet*/
.title_chitiet
{
   background: #fef6e6;
}
.title_chitiet h3
{
    padding: 5px 0px;
    padding-left: 10px;
    color: #ff033e;
    text-transform: uppercase;
}
.ngaythang_chitiet
{
    text-align: right;
    padding: 10px 5px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.37);
}
.nd_chitiet
{
   padding: 0px 15px;
}
.vote_chitet
{
    padding: 10px 0px;
    position: relative;
    margin: 20px 0px;
}
.vote_chitet:after
{
    content: " ";
    position: absolute;
    height: 1px;
    width: 300px;
    background: rgba(158, 158, 158, 0.59);
    top: 0px;
    left: 35%;
}
.comment_chitiet
{
    text-align: center;
}

/*bvxemnhieu_chitiet*/
.bvxemnhieu_chitiet
{
    width: 760px;
    border-top: 3px solid #f7941d;
}

.bvxemnhieu_chitiet .h3bvxemnhieu
{
    background: url(../images/h3_bvxemnhieu.png) left no-repeat;
    margin: 5px 0px;
    padding-left: 40px;
    font-size: 20px;
    text-transform: uppercase;
    color: #eead2d;
}

.bvxemnhieu_chitiet .nd
{
    max-width: 372px;
    overflow-wrap: break-word;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}
.bvxemnhieu_chitiet .nd .img img
{
    border: 1px solid #cac8c8;
    max-width: 125px;
    height: 90px;
}
.bvxemnhieu_chitiet .nd:nth-child(2n+2)
{
    margin-right: 0px;
}

.bvxemnhieu_chitiet .nd:nth-child(2n+3)
{
    clear: both;
}
.bvxemnhieu_chitiet .nd .ct
{
    height: 90px;
    width: 240px;
    padding-left: 5px;
}
.bvxemnhieu_chitiet .nd .ct h3
{
  line-height: 1.2;
}
.baivietcungchude
{
   width: 705px;
   height: 160px;
   padding: 0px 10px;
   background: #fef6e6;
   border: 2px dashed #f96d06;
   border-radius: 5px;
   margin: 10px 0px;
}

.baivietcungchude h3
{
   background: url('../images/bg_cothebanquantam.png') left no-repeat;
   border-bottom: 3px solid #39b54a;
   height: 23px;
   padding-left: 30px;
   line-height: 1.2;
   margin-top: 10px;
}

.baivietcungchude ul
{
    margin: 20px 20px;
}

.baivietcungchude ul li
{
    border-bottom: 2px dashed rgba(0, 0, 0, 0.36);
    padding: 3px 0px;
}
.baivietcungchude ul li a
{
    color: #000;
}
.baivietcungchude ul li:hover
{
    padding-left: 20px;
}
.baivietcungchude ul li:hover a span
{
    color: red;
}
