.edit_list_post {
	box-sizing: border-box;

}
.edit_list_post ul {
	box-sizing: border-box;
}
.edit_list_post li,
.edit_list_post ul{
	padding: 0 ;
	margin: 0 ;
}
.tiltle_depart {
	margin-top: 10px;
	background-color: #21c942;
	text-align: left;
	line-height: 40px;
	padding: 5px;
	color: #fff;
	font-weight: 500;
}
.tiltle_depart .item_plus {
	background: url('../images/menulist_active.png') no-repeat left;
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
}
.department li:first-child:hover ul{
	display: block;
}
.tiltle_depart h3 {
	padding: 0 !important;
	line-height: 30px !important;
}
.department ul {
	display: none;
}
.department ul li {
	border-bottom: 1.2px dashed #3b3b3b;
	padding: 10px 0;
	margin-bottom: 0;
}
.department ul li a {
	color: #333;
	margin-left: 35px;
}
.department ul li:hover a{
	color: #21c942;
}