html{
	font-family: sans-serif;
	line-height: 1.15px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body{
	margin: 0;
	overflow-x:hidden;
}
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}
figure{
	margin: 1em 40px;
}
hr{
	box-sizing:border-box;
	height: 0;
	overflow: visible;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
a:link{
	text-decoration: none;
	font-weight: bold;
}
a:hover, a:visited {
	outline-width: 0;
}
pre{
	font-family: monospace monospace;
	font-size: 1em;
}
#wrapper{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
.container{
	box-sizing:border-box;
	width: 1399px;
	margin: 0;
	padding: 0;
	// display: flex;
	// flex-wrap: nowrap;
}
@mixin float-side($float) {
	float: $float;
}
.right{@include float-side(right);}
.left{@include float-side(left);}

@mixin col-md($width, $float, $box_sizing) {
	width: $width;
	float: $float;
	box-sizing: $box_sizing;
}
.col-1{@include col-md(10%, left, border-box);}
.col-2{@include col-md(20%, left, border-box);}
.col-3{@include col-md(30%, left, border-box);}
.col-4{@include col-md(40%, left, border-box);}
.col-5{@include col-md(50%, left, border-box);}
.col-6{@include col-md(60%, left, border-box);}
.col-7{@include col-md(70%, left, border-box);}
.col-8{@include col-md(80%, left, border-box);}
.col-9{@include col-md(90%, left, border-box);}
.col-10{@include col-md(100%, left, border-box);}

/*divide 12 column*/
.col-md-1{@include col-md(8.33%, left, border-box);}
.col-md-2{@include col-md(16.66%, left, border-box);}
.col-md-3{@include col-md(24.99%, left, border-box);}
.col-md-4{@include col-md(33.32%, left, border-box);}
.col-md-5{@include col-md(41.65%, left, border-box);}
.col-md-6{@include col-md(49.98%, left, border-box);}
.col-md-7{@include col-md(58.31%, left, border-box);}
.col-md-8{@include col-md(66.64%, left, border-box);}
.col-md-9{@include col-md(74.97%, left, border-box);}
.col-md-10{@include col-md(83.33%, left, border-box);}
.col-md-11{@include col-md(91.66%, left, border-box);}
.col-md-12{@include col-md(100%, left, border-box);}


#header{
	.header-left{
		background: url('../images/logo_bg.jpg') no-repeat;
		text-align: center;	
		img{}	
	}
	.header-right{
		.header-right-left{
			overflow: hidden;
			.arrow{
				background: url('../images/arrows.jpg') no-repeat;
				// display: block;
				height: 70px;
			}
		}
		.header-right-right{
			padding: 10px;
			text-align: left;
			p {
				a {
					color: blue;
					&:hover, &:active {
						text-decoration: underline;
						font-weight: bold;
						color: #2b7c98;
					}
				}
				
			}
		}
	}
}
