
@media only screen and (max-width:400px) {
	.content6_main .box {
		padding: 0 10px;
	}
	.content6_main .box .nd .nd2 {
		float: right;
		padding-right: 10px;
	}
	.content6_main .box .nd .nd2 h3{
		font-size: 12px !important;
	}
	.content6_main .box .nd .nd2 p{
		font-size: 13px;

	}
	.content6_main .box .nd {
		padding-left: 15px;
	}
	.content6_main .box .nd .img{
		margin-right: 0;
	}
}
@media only screen and (max-width: 345px){
	.content6_main .box .nd{
		border: none;
		width: 100% !important;
		padding: 0 10px;
		clear: both;
		text-align: center;
	}
	.content6_main .box .nd .nd2 {
		float: left;
	}
	.content6_main .box .nd .img{
		margin-right: 10px;
	}
}