.content_posts p{
	word-wrap: break-word;
	font-size:13px;
}
.content_posts .cnt_post {

}
.content_posts .cnt_post .title_post {
	width: 100%;
}
.content_posts .cnt_post .title_post h1 {
	background-color: rgba(255, 212, 133, 0.35);
	color: #ea0101;
	padding: 10px 10px;
}
.content_posts .cnt_post .title_post span {
	float: right;
	color: #b4afaf;
}
.content_posts .cnt_post .description_post {
	width: 100%;
	margin-top:35px;
	overflow-wrap: break-word;
	text-align: center;
}
.content_posts .cnt_post .description_post p:first-child {
	text-align: left;
	padding: 0 5px 20px;
	text-indent: 40px;
}
.content_posts .cnt_post .description_post p:last-child {
	text-align: center;
}
.content_posts .cnt_post .interested {
	margin-top: 20px;
	background: rgba(255, 212, 133, 0.35);
	border: 1px dashed  orange;
	border-radius: 2px;
	padding: 20px;
}
.content_posts .cnt_post .interested ul li {
	border-bottom: 1px dashed #6a6363;
	margin-top: 10px;
}
.content_posts .cnt_post .interested ul li:first-child {
	border-bottom: 1px solid #00a654;
}
.content_posts .cnt_post .interested ul li:first-child img{
	float: left;
	padding-right: 10px;
}
.content_posts .cnt_post .interested ul li:nth-child(2) label {
	color: #ea0101;
	margin-left: 20px;
}
.content_posts .cnt_post .caption_cnt {
	margin-top: 20px;
	text-align: center;
	position: relative;
}
.content_posts .cnt_post .caption_cnt div:before {
	right: 31%;
}
.content_posts .cnt_post .caption_cnt div:after {
	left: 30.7%;
}
.content_posts .cnt_post .caption_cnt h2 {
	color: #ea0101;
}
.content_posts .cnt_post .caption_cnt p {
	text-align: left;
	padding:0 5px;
}
.content_posts .cnt_post .cause_sick {
	margin-top: 20px;
}
.content_posts .cnt_post .cause_sick li .title_cause {
	border-bottom: 1px solid #00a654;
	margin-bottom: 15px;
	padding-bottom: 5px;
}
.content_posts .cnt_post .cause_sick li .title_cause img {
	float: left;
	padding-right: 10px;
}
.content_posts .cnt_post .cause_sick li .title_cause h2 {
	color: #ea0101;
}
.content_posts .cnt_post .cause_sick li .text_cnt p{
	word-wrap: break-word;
	margin-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
.content_posts .cnt_post .cause_sick li .text_cnt p:first-child {
	text-indent: 40px;
}
.content_posts .cnt_post .hr {
	background-color: #bdbdbd;
	height: 1px;
	width: 50%;
	margin: 0 auto;
}
.content_posts .cnt_post .ratings {
	margin-top: 20px;
}
.content_posts .cnt_post .ratings p {
	text-indent: 20px;
}
.content_posts .hostpital {
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}
